apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-of-apps
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/AbeYuki/argocd-apps
    path: applicationset/production
    targetRevision: mod/applicationset
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: argocd